.font_size_button {
    background-color: #FFB81C;
    border: none;
    color: #003594;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
}

.font_size_button::after {
    content: "";
    display: block;
    border-bottom: solid 1px gray;
    margin-top: 10px;
}



/* Enable hover only on devices with a pointer */
@media (hover: hover) and (pointer: fine) {
    .font_size_button:hover {
        background-color: #B58500;
    }

    .font_size_button {
        cursor: pointer;
    }
}
