.footer {
    background-color: #2b2b2b;
    color: #fff;
    height: 375px;
    position: relative;
    background-color: rgb(43, 43, 43);
    padding: 50px 0;
    font-size: 1.15rem;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    border-top: none;
}

.footer p {
    font-size: 12px;
    margin-left: 2rem;
}

footer .container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.footer_logo {
    display: inline-table;
    margin-left: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}

footer .container .Link {
    display: inline-block;
}

.footer_links li {
    margin-bottom: 6px;
}

.footer_links a {
    color: #FFB81C;
    text-decoration: none;
}

.footer_uni_name {
    font-weight: 600;
    position: relative;
    display: inline-table;
    margin-bottom: 2rem;
}

.footer_logo_container {
    display: inline-table;
    position: relative;
    align-content: space-between;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    font-size: .80rem;
    margin-left: 2rem;
    column-gap: 1px;
    overflow: hidden;
    flex-basis: calc(30% - 0.5rem);
}
  
.column {
    flex: 1;
    width: 10%;
}

.column ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.column h3 {
    margin-top: 0;
}

.contact {
    flex-basis: calc(50% - 0.5rem);
    text-align: left;
    font-size: 12px;
}

.contact a {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #FFB81C;
}

.contact_resources {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 10px;
}

.socials {
    font-size: 0.5rem;
}

/* Tablet (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
    .footer_links {
        margin-right: 2rem;
    }
}

/* Mobile */
@media (max-width: 700px) {
    .footer {
        padding: 50px 0;
        font-size: 1.15rem;
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        border-top: none;
    }

    .footer_logo {
        display: inline-table;
        margin-left: 2rem;
        margin-right: 1rem;
        vertical-align: middle;
    }

    footer .container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }

    footer .container .Link {
        display: flex;
        justify-content: center;
    }

    .footer p {
        font-size: 12px;
        margin-left: 10px;
    }
}

/* Mobile (portrait) */
@media (max-width: 400px) {
    .footer {
        height: 500px;
        padding: 50px 0;
        font-size: 1.15rem;
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        border-top: none;
    }

    footer .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .footer_logo_container {
        display: inline-table;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .footer_uni_name {
        font-weight: 600;
        position: relative;
        display: flex;
        margin-bottom: 2rem;
    }

    .footer_logo {
        display: inline-table;
        margin-left: 6.75rem;
        margin-right: 0rem;
        vertical-align: middle;
    }

    .contact {
        text-align: center;
        font-size: 12px;
    }

    .contact a {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: #FFB81C;
    }

    .contact_resources {
        flex-direction: column;
        align-items: center;
    }

    .footer_links {
        margin-top: 1rem;
    }
}