.footer {
    background-color: #2b2b2b;
    color: #fff;
    height: auto;
    position: relative;
    background-color: rgb(43, 43, 43);
    padding: 50px 0;
    font-size: 1.15rem;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    border-top: none;
}

.footer p {
    font-size: 12px;
    margin-left: 2rem;
}

footer .container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
    padding-bottom: 5px;
}

.footer_logo {
    display: inline-table;
    padding-right: 20px;
    margin-left: 2rem;
    vertical-align: middle;
}

footer .container .Link {
    display: inline-block;
}

.footer_links li {
    margin-bottom: 6px;
}

.footer_links a {
    color: #FFB81C;
    text-decoration: none;
}

.vertical_line {
    padding-left: 15px;
    border-left: 1px solid gray;
}

.footer_uni_name {
    font-weight: 400;
    font-size: 1.5rem;
    position: relative;
    display: inline-table;
    margin-bottom: 2rem;
    overflow-wrap: break-word;
}

.footer_logo_container {
    display: inline-table;
    position: relative;
    align-content: space-between;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    font-size: .80rem;
    margin-left: 2rem;
    column-gap: 1px;
    overflow: hidden;
    flex-basis: calc(30% - 0.5rem);
    width: 50%;

}

.column {
    flex: 1;
    width: 10%;
}

.resourcesList {
    columns: 2;
    column-gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

.resourcesList li {
    break-inside: avoid;
}

.column ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.column h3 {
    margin-top: 0;
}

.contact {
    text-align: left;
    font-size: 12px;
    width: 20%;
    margin-left: 13%;
}

.contact a {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #FFB81C;
}

.contact_resources {
    display: flex;
}

.column h4 {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 8px;
}

.space {
    padding-top: 10px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    margin-top: 3rem;
    margin-left: 15%;
    font-size: 10px;
    width: 20%;
}

.socials {
    padding-left: 15%;
}

.socials a {
    margin-right: 7px;
}

/* Mobile */
@media (max-width: 700px) {
    .footer {
        padding: 5px 0px;
        height: auto;
    }

    .footer .container {
        padding: 0px;
        width: 100%;
        margin-left: 40px;
    }

    .footer_logo_container {
        margin: 0px;
        padding: 0px;
    }

    .footer_logo {
        width: 100%;
        margin: 0px;
    }

    .footer_uni_name {
        position: relative;
        font-size: 1.5rem;
        display: inline-table;
        text-align: left;
        margin-bottom: 2rem;
    }

    .vertical_line {
        display: none;
    }

    .contact_resources {
        display: flex;
        flex-direction: column;
    }

    .contact {
        width: 100%;
        margin-left: 5px;
        text-align: left;
        margin-bottom: 1rem;
    }

    .footer_links {
        width: 100%;
        padding-bottom: 2rem;
    }

    .resourcesList {
        width: 100%;
        text-align: left;
        margin-left: 5px;
    }

    .resourcesList li {
        white-space: nowrap;
        overflow-wrap: break-word;
    }

    .socials {
        width: 100%;
        margin: 0px;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .copyright {
        width: 100%;
        text-align: left;
        margin-top: 1rem;
        margin-left: 5px;
        padding-bottom: 1rem;
    }

}
