.header {
    background-color: #003594;
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 5;
}

.logo {
    padding-left: .25rem;
    padding-right: 8px;
    height: 50px;
    width: 150px;
}

.header_text {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    position: relative;
    align-items: center;
    padding-right: 1.5rem;
    float: right;
}

.titleInfo {
    text-align: left;
    padding-left: 20px;
    border-left: 1px solid gray;
}

.titleInfo h4 {
    font-weight: bold;
}

.titleInfo p {
    padding-top: 3px;
    font-size: 12px;
}

.menu_placer {
    position: relative;
    margin-left: auto;
    padding-right: .45rem;
}

/* Mobile */
@media (max-width: 700px) {
    .header {
        padding-left: 0rem;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        height: 50px;
        width: 150px;
        position: relative;
        padding-left: 0.25rem;
    }

    .titleInfo {
        border: none;
    }

    .titleInfo p {
        display: none;
    }

    .menu_placer {
        padding: 0;
        margin-right: 10px;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .header {
        padding-left: 0rem;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        height: 50px;
        width: 150px;
        position: relative;
        padding-left: 0.25rem;
    }

    .menu_placer {
        padding: 0;
        margin-right: 10px;
    }
  }